#body{
background: linear-gradient(100deg,rgb(182, 237, 255),rgb(193, 255, 255) 50%,rgb(182, 237, 255));
}
#btn{
background: linear-gradient(100deg,lime,rgb(0, 233, 0),lime);
color: red;
width: 50%;
height: 50px;
}
