#body{
background: linear-gradient(90deg,rgb(182, 237, 255),rgb(193, 255, 255) 50%,rgb(182, 237, 255));
}
button{
background: linear-gradient(90deg,lime,rgb(0, 233, 0),lime);
color: white;
width: 25%;
height: 100%;
border-radius: 15%;  
border-color: limegreen;
}

#btn{
background: linear-gradient(180deg,rgb(120, 120, 255),rgb(0, 179, 233),rgb(120, 120, 255));
color: white;
border-color: blue;
width: 40%;
height: 50px;
border-radius: 10%;
}

.UPG{
background: linear-gradient(90deg,white,lightcyan);
border-style:double;
border-color: gray;
margin-top: 10%;
width: 95%;
height: 40px;
}
